@import "tailwindcss";

.primary {
  color: #7836cf;
}
.secondary {
  color: #512092;
}
.bg-primary {
  background-color: #7836cf;
}
.bg-secondary {
  background-color: #512092;
}
.text-primary {
  color: #7836cf;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #7836cf;
}
.hover-bg-secondary:hover {
  background-color: #7836cf;
}
.hover\:bg-secondary:hover {
  background-color: #512092;
}
.hover\:text-secondary:hover {
  color: #512092;
}

.text-shadow {
  text-shadow: 2px 2px 0 #620deb;
}

.text-shadow-cyan {
  text-shadow: 2px 2px 0 #0debd8;
}

/* estilos del home */

@keyframes gradientMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-250px) translateY(120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes gradientMove2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(250px) translateY(-120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.animate-gradientMove {
  animation: gradientMove 8s ease-in-out infinite alternate;
}

.animate-gradientMove2 {
  animation: gradientMove2 8s ease-in-out infinite alternate;
}

.text-shadow {
  text-shadow: 2px 2px 0 #6d0deb;
}
