<section class="pt-16">
  <div class="bg-gray-900 py-24 text-center text-white">
    <h2 class="mb-4 text-4xl font-bold drop-shadow-[2px_2px_0_#7836cf]">
      ¿Trabajamos juntos?
    </h2>
    <p class="mb-6 text-lg text-neutral-300 font-semibold">
      Estoy disponible para nuevas oportunidades. ¡Hablemos!
    </p>
    <div class="flex justify-center gap-4">
      <a
        href="/contact"
        class="rounded-lg bg-primary hover:bg-secondary drop-shadow-[2px_2px_0_#0debd8] px-6 py-3 text-lg font-semibold text-white transition active:translate-0.5 active:drop-shadow-none"
      >
        Contáctame
      </a>
      <a
        target="_blank"
        href="https://drive.google.com/file/d/1dIUZSRRXzl_TCSAeoRfMKT_SvydItgUd/view?usp=sharing"
        class="rounded-lg bg-primary hover:bg-secondary drop-shadow-[2px_2px_0_#0debd8] px-6 py-3 text-lg font-semibold text-white transition active:translate-0.5 active:drop-shadow-none"
      >
        Curriculum
      </a>
    </div>
  </div>
</section>
