---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Lautaro"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Lautaro</span>
    </h2>
    <p class="mt-4">
      Soy de <span class="text-primary font-semibold">Argentina</span> y actualmente
      me desempeño como
      <span class="text-primary font-semibold"
        >desarrollador de software full-stack</span
      >, con un enfoque en el <span class="text-primary font-semibold"
        >desarrollo front-end</span
      > y la
      <span class="text-primary font-semibold">experiencia del usuario</span>,
      usando tecnologías como <span class="text-primary italic"
        >React, Astro, JavaScript, TypeScript, Bootstrap, Tailwind, CSS,
        Node.js, Express.js, MongoDB y MySQL</span
      >.
    </p>
    <p class="mt-2">
      Mi interés por la <span class="text-primary font-semibold"
        >tecnología</span
      > y la
      <span class="text-primary font-semibold">programación</span> surgió mientras
      cursaba una
      <span class="text-primary font-semibold"
        >Tecnicatura Universitaria en Automatización</span
      > en la
      <span class="text-primary font-semibold">UnCuyo</span>. En la clase de <span
        class="text-primary font-semibold">informática</span
      > tuve mi primer contacto con el mundo de la programación. Motivado por la
      <span class="text-primary font-semibold">curiosidad</span>, continué
      estudiando de manera
      <span class="text-primary font-semibold">autodidacta</span>, luego en una
      <span class="text-primary font-semibold"
        >Tecnicatura enfocada en desarrollo de software</span
      >, y decidí que esto era a lo que quería dedicarme a nivel <span
        class="text-primary font-semibold">profesional</span
      >.
    </p>
    <p class="mt-2">
      Siempre estoy comprometido con un <span class="text-primary font-semibold"
        >constante crecimiento</span
      > y
      <span class="text-primary font-semibold">mejora</span> en mis habilidades,
      buscando adaptarme a los nuevos
      <span class="text-primary font-semibold">avances tecnológicos</span> y superarme
      a nivel
      <span class="text-primary font-semibold">profesional</span> y <span
        class="text-primary font-semibold">personal</span
      >.
    </p>
  </div>
</div>
