---
import Layout from "../layouts/Layout.astro";
import CopyMail from "../components/links/copyMail.jsx";
import { SITE_CONFIG } from "../config/site";
---

<Layout title="联系" description="通过邮箱联系我">
  <section class="bg-gray-900 flex min-h-screen flex-col items-center justify-center px-6">
    <div class="mb-2 mt-16">
      <div class="relative flex items-center justify-center">
        <div
          class="border-primary h-32 w-32 rounded-full shadow-lg bg-linear-to-br from-[#7836cf] to-[#69c7c7] flex items-center justify-center"
          aria-label={`${SITE_CONFIG.author} Avatar`}
        >
          <span class="text-white font-extrabold text-2xl drop-shadow-[1px_1px_0_#0debd8]">WC</span>
        </div>

        <svg viewBox="0 0 200 200" class="animate-spin-slow absolute h-48 w-48">
          <path
            id="circlePathText"
            d="M100,100 m-77,0 a77,77 0 1,1 154,0 a77,77 0 1,1 -154,0"
            fill="none"
          ></path>
          <text fill="#69c7c7" font-size="16" font-weight="bold">
            <textPath href="#circlePathText" startOffset="0%">
              ✦ Email only ✦ ai@widechaos.cn ✦ Email only ✦ ai@widechaos.cn
            </textPath>
          </text>
        </svg>
      </div>
    </div>

    <CopyMail client:visible />

    <div class="w-full max-w-xl space-y-4">
      <a
        href="mailto:ai@widechaos.cn"
        class="block font-bold w-full rounded-lg bg-primary hover:bg-secondary drop-shadow-[2px_2px_0_#0debd8] px-6 py-3 text-center text-white transition"
      >
        发送邮件
      </a>
    </div>
  </section>
</Layout>

<style>
  .animate-spin-slow {
    animation: spin 25s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
