---
import Layout from "../layouts/Layout.astro";
import MiFoto from "../assets/img/MiFoto.png";
import CopyMail from "../components/links/copyMail.jsx";

const links = [
  {
    href: "https://www.linkedin.com/in/lautaro-rodr%C3%ADguez-collins-40505624a/",
    label: "LinkedIn",
  },
  { href: "https://github.com/Lautaro-R-collins", label: "GitHub" },
  { href: "https://x.com/lautarodevelops/", label: "Twitter" },
  { href: "mailto:lautarodevelops@gmail.com", label: "Email" },
];
---

<Layout>
  <section
    class="bg-gray-900 flex min-h-screen flex-col items-center justify-center px-6"
  >
    <div class="mb-2 mt-11">
      <div class="mb-2 mt-11">
        <div class="relative flex items-center justify-center">
          <!-- Foto con borde -->
          <img
            src={MiFoto.src}
            alt="Foto de Lautaro"
            class="border-primary h-32 w-32 rounded-full shadow-lg"
          />

          <!-- Texto circular alrededor de la foto -->
          <svg
            viewBox="0 0 200 200"
            class="animate-spin-slow absolute h-48 w-48"
          >
            <path
              id="circlePathText"
              d="M100,100 m-77,0 a77,77 0 1,1 154,0 a77,77 0 1,1 -154,0"
              fill="none"></path>
            <text fill="#69c7c7" font-size="18" font-weight="bold">
              <textPath href="#circlePathText" startOffset="0%">
                ✦ Hola ! ✦ Estoy disponible para nuevas oportunidades!
              </textPath>
            </text>
          </svg>
        </div>
      </div>
    </div>

    <CopyMail client:visible />

    <!-- Lista de Links -->
    <div class="w-full max-w-xl space-y-4">
      {
        links.map((link) => (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="block font-bold w-full rounded-lg bg-primary hover:bg-secondary drop-shadow-[2px_2px_0_#0debd8] px-6 py-3 text-center text-white transition "
          >
            {link.label}
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .animate-spin-slow {
    animation: spin 25s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
